<div class= "container">
    <div class="page-header">
      <h1>New User</h1>
    </div>
    <div>
       <ol class="breadcrumb">
           <li><%=link_to "Tenant", tenants_path%></li>
           <li class="active">New Tenant</li>
       </ol>
    </div>

    <%= render partial: "form", locals: {button_name: "Create Tenant"} %>


</div>
