<div class="container">

  <div class="jumbotron">
      <p><h1>Pay My Rent</h1></p>
      <p> Pay your rent while building your credit</p>
  </div>

    <div class=row >
      <div class="col-md-4">
        <%=image_tag("pay-rent.png", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("building-credit.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("happy-fam.jpg", class: "img-responsive")%>
      </div>
    </div>

    <div>
      <p></p>
    </div>

    <div class=row >
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Payments</h3>
          </div>
          <div class="panel-body">
            No need to mail a check.  Pay your rent online and on-time.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Build/Repair Credit</h3>
          </div>
          <div class="panel-body">
            We report you payment history so you can build or re-build your credit.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Bright Future</h3>
          </div>
          <div class="panel-body">
            A positive credit score opens doors no matter what your goals are.  Build your brighter future today.
          </div>
        </div>
      </div>
    </div>



</div>
